#swiperteste{
  position: fixed;
  z-index: 99999;
  width: 500px;
  height: 300px;
  background: tomato;
}

.swiper-container {
  height: 500px;
}
.swiper-slide {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s1 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/brazmotors-14952.appspot.com/o/slide1.jpg?alt=media&token=f61ddba6-3a29-44bd-bb81-d172dae1afaa");
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  background-repeat: no-repeat;
}
.s2 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/brazmotors-14952.appspot.com/o/slide2.jpg?alt=media&token=f61ddba6-3a29-44bd-bb81-d172dae1afaa");
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  background-repeat: no-repeat;
}
.s3 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/brazmotors-14952.appspot.com/o/slide3.jpg?alt=media&token=f61ddba6-3a29-44bd-bb81-d172dae1afaa");
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  background-repeat: no-repeat;
}
.s4 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/brazmotors-14952.appspot.com/o/slide4.jpg?alt=media&token=f61ddba6-3a29-44bd-bb81-d172dae1afaa");
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  background-repeat: no-repeat;
}
.s5 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/brazmotors-14952.appspot.com/o/slide5.jpg?alt=media&token=f61ddba6-3a29-44bd-bb81-d172dae1afaa");
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  background-repeat: no-repeat;
}